* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url(taste.jpg);
	background-size: cover;
	background-position: center;
	background-color: #f4f4f4;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
}
/*-------------------------- Heading -------------------------- */

h1,
h2,
h3 {

	font-weight: 500;
	text-transform: uppercase;
}

h1 {

	margin-top: 0;
	margin-bottom: 20px;
	color: aliceblue;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}


h3 {
	font-size: 100%;
	margin-bottom: 15px;
}


h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 20px;
}

a{
    text-decoration: none;
}

nav{
    height: 14vh;
    background-color: black;
    margin-bottom: 30px;
}

.main-nav{
	display: flex;
	list-style: none;
	position: absolute;
	top: 40px;
	right: 20px;
}
.main-nav a{
	text-decoration: none;
	color: white;
}
.main-nav a:hover{
	border-bottom: 2px solid #e67e22;
	padding-bottom: 10px;
}
.main-nav li{
	margin: 0 20px;
	transition: all 1s;
}

.main-nav li:hover{
	transform: scale(1.2);
}
.logo{
	position: absolute;
	top: 15px;
	left: 80px;
}
.logo h1{
	font-size: 18px;
	text-align: center;
}
.logo .in{
	color: #e67e22;
}

/*------------------------------------------------*/
.section-plans{
    height: 100vh;
}

.section-plans h2{
    color: white;
    margin-bottom: 80px;
}
.plans{
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;   
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;

}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}


.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 400;
}

.plan-price-meal {
    font-size: 80%;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
    font-weight: 400;
}



.btns{
	display: flex;
	position: absolute;
	top: 60%;
	left: 100px;
}
.btn:link,
.btn:visited{

	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited{
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: aliceblue;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22
}

.btn:hover,
.btn:active{
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active{
	border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*FOOTER */
/*-----------------------------------------------------------------------------------------------------------------------------------*/

footer {
	background-color:black;
	padding: 50px;
    font-size: 80%;
    height: 10vh;
    display: flex;
    margin-top: 20px;
    
}
.row {
    margin: 0 auto;
}

.social-links {
	list-style: none;
	float: left;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;

}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: #ddd;

}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #3b5998;

}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}



@keyframes yourAnimation{
    0%{
        color: white;
		}
	50%{
		color: #e67e22;
	}
    100%{
		color: white;
        }
}

.in{
    animation: yourAnimation 1s infinite 0s ease-in-out;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) translateX(-150px);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
        }
}

.section-plans{
    animation: yourAnimation2 2s forwards 0s ease-in;
}